## Generating Data for same states

In [2]:
import pandas as pd

In [3]:
jobs_df = pd.read_csv("dataset/jobs.tsv", sep='\t', on_bad_lines='skip')
users_df = pd.read_csv('dataset/users.tsv', sep='\t', on_bad_lines='skip')

C:\Users\DELL\AppData\Local\Temp\ipykernel_3544\1225003650.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs_df = pd.read_csv("dataset/jobs.tsv", sep='\t', on_bad_lines='skip')

In [4]:
jobs_data = jobs_df[['JobID', 'Title', 'State', 'Country']]
# jobs_data = jobs_data.sort_values(by = ['State', 'Country'], ascending=[True, True])

users_data = users_df[['UserID', 'State', 'Country']]
# users_data = users_data.sort_values(by = ['State', 'Country'], ascending=[True, True])
display(jobs_data.head(10))
display(users_data.head(10))

   JobID                                        Title State Country
0      1             Security Engineer/Technical Lead    DC      US
1      4                    SAP Business Analyst / WM    NC      US
2      7                P/T HUMAN RESOURCES ASSISTANT    FL      US
3      8                       Route Delivery Drivers    FL      US
4      9                                 Housekeeping    FL      US
5     10                        SALON/SPA COORDINATOR    FL      US
6     11                               SUPERINTENDENT    FL      US
7     12            ELECTRONIC PRE-PRESS PROFESSIONAL    FL      US
8     13  UTILITY LINE TRUCK OPERATOR/ DIGGER DERRICK    FL      US
9     14        CONSTRUCTION PROJECT MGR & PM TRAINEE    FL      US

   UserID State Country
0      47    CA      US
1      72    CA      US
2      80    NJ      US
3      98    NY      US
4     123    LA      US
5     131    TX      US
6     162    CA      US
7     178    SC      US
8     203    VT      US
9     344    VA      US

In [5]:
# user_country_count = users_data.groupby(['Country']).size()
# filtered_countires = user_country_count[user_country_count >= 100].index.tolist()
# filtered_user_CA = users_data[users_data['Country'].isin(['CA'])]
# filtered_user_IN = users_data[users_data['Country'].isin(['IN'])]
filtered_user_US = users_data[users_data['Country'].isin(['US'])]

user_state_count = users_data.groupby(['State']).size()
filtered_states = user_state_count[user_state_count >= 100].index.tolist()
filtered_user_US = filtered_user_US[filtered_user_US['State'].isin(filtered_states)]

display(filtered_user_US.head(10))

   UserID State Country
0      47    CA      US
1      72    CA      US
2      80    NJ      US
3      98    NY      US
4     123    LA      US
5     131    TX      US
6     162    CA      US
7     178    SC      US
8     203    VT      US
9     344    VA      US

In [6]:
filtered_jobs_US = jobs_data[jobs_data['Country'].isin(['US'])]
filtered_jobs_US = filtered_jobs_US[filtered_jobs_US['State'].isin(filtered_states)]

display(filtered_jobs_US.head(10))

   JobID                                        Title State Country
0      1             Security Engineer/Technical Lead    DC      US
1      4                    SAP Business Analyst / WM    NC      US
2      7                P/T HUMAN RESOURCES ASSISTANT    FL      US
3      8                       Route Delivery Drivers    FL      US
4      9                                 Housekeeping    FL      US
5     10                        SALON/SPA COORDINATOR    FL      US
6     11                               SUPERINTENDENT    FL      US
7     12            ELECTRONIC PRE-PRESS PROFESSIONAL    FL      US
8     13  UTILITY LINE TRUCK OPERATOR/ DIGGER DERRICK    FL      US
9     14        CONSTRUCTION PROJECT MGR & PM TRAINEE    FL      US

In [14]:
users_by_state = {state: group for state, group in filtered_user_US.groupby('State')}
jobs_by_state = {state: group for state, group in filtered_jobs_US.groupby('State')}
print(filtered_states)

# jobs_DC = jobs_by_state.get('DC')
# users_DC = users_by_state.get('DC')
display(users_by_state)
display(jobs_by_state)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV']

{'AK':          UserID State Country
 5206     119003    AK      US
 6054     134736    AK      US
 8745     184183    AK      US
 13474    262268    AK      US
 15596    301013    AK      US
 ...         ...   ...     ...
 364588   655619    AK      US
 371379   877656    AK      US
 381047  1197145    AK      US
 381709  1217886    AK      US
 382936  1257317    AK      US

 [179 rows x 3 columns],
 'AL':          UserID State Country
 60         1657    AL      US
 156        3992    AL      US
 160        4032    AL      US
 376        8831    AL      US
 671       15698    AL      US
 ...         ...   ...     ...
 388947  1447312    AL      US
 388982  1448065    AL      US
 389276  1458297    AL      US
 389549  1467111    AL      US
 389633  1469981    AL      US

 [4125 rows x 3 columns],
 'AR':          UserID State Country
 651       15272    AR      US
 699       16311    AR      US
 824       19121    AR      US
 1354      31240    AR      US
 1380      31862    AR      US
 ...         ...   ...     ...
 387412  1400132    AR      US
 387540  1404496    AR      US
 388515  1434656    AR      US
 388822  1443369    AR      US
 389673  1471212    AR      US

 [1172 rows x 3 columns],
 'AZ':          UserID State Country
 27          655    AZ      US
 73         2017    AZ      US
 79         2204    AZ      US
 89         2393    AZ      US
 93         2473    AZ      US
 ...         ...   ...     ...
 389575  1467946    AZ      US
 389592  1468303    AZ      US
 389610  1469026    AZ      US
 389616  1469235    AZ      US
 389643  1470402    AZ      US

 [11755 rows x 3 columns],
 'CA':          UserID State Country
 0            47    CA      US
 1            72    CA      US
 6           162    CA      US
 23          589    CA      US
 31          767    CA      US
 ...         ...   ...     ...
 389656  1470823    CA      US
 389659  1470886    CA      US
 389664  1471027    CA      US
 389666  1471037    CA      US
 389688  1471633    CA      US

 [33019 rows x 3 columns],
 'CO':          UserID State Country
 197        4654    CO      US
 222        5190    CO      US
 272        6429    CO      US
 435       10041    CO      US
 574       13408    CO      US
 ...         ...   ...     ...
 389274  1458122    CO      US
 389528  1466523    CO      US
 389597  1468479    CO      US
 389604  1468607    CO      US
 389655  1470809    CO      US

 [4542 rows x 3 columns],
 'CT':          UserID State Country
 19          547    CT      US
 78         2203    CT      US
 453       10503    CT      US
 566       13132    CT      US
 575       13425    CT      US
 ...         ...   ...     ...
 389379  1461448    CT      US
 389499  1465797    CT      US
 389542  1466810    CT      US
 389623  1469551    CT      US
 389692  1471691    CT      US

 [6677 rows x 3 columns],
 'DC':          UserID State Country
 59         1645    DC      US
 239        5686    DC      US
 549       12792    DC      US
 713       16611    DC      US
 830       19251    DC      US
 ...         ...   ...     ...
 388443  1432118    DC      US
 388561  1436173    DC      US
 389041  1449982    DC      US
 389209  1456134    DC      US
 389463  1464913    DC      US

 [1084 rows x 3 columns],
 'DE':          UserID State Country
 76         2134    DE      US
 265        6275    DE      US
 584       13745    DE      US
 700       16410    DE      US
 703       16476    DE      US
 ...         ...   ...     ...
 388391  1430644    DE      US
 388453  1432369    DE      US
 389322  1459568    DE      US
 389454  1464567    DE      US
 389649  1470507    DE      US

 [2638 rows x 3 columns],
 'FL':          UserID State Country
 11          411    FL      US
 16          501    FL      US
 20          553    FL      US
 21          554    FL      US
 22          555    FL      US
 ...         ...   ...     ...
 389658  1470885    FL      US
 389661  1470966    FL      US
 389665  1471028    FL      US
 389684  1471585    FL      US
 389695  1471753    FL      US

 [43100 rows x 3 columns],
 'GA':          UserID State Country
 34          886    GA      US
 77         2166    GA      US
 123        3164    GA      US
 132        3316    GA      US
 134        3381    GA      US
 ...         ...   ...     ...
 389627  1469627    GA      US
 389682  1471569    GA      US
 389696  1471765    GA      US
 389697  1471828    GA      US
 389706  1472060    GA      US

 [16156 rows x 3 columns],
 'HI':          UserID State Country
 88         2386    HI      US
 484       11267    HI      US
 2313      54763    HI      US
 5036     116117    HI      US
 5119     117435    HI      US
 ...         ...   ...     ...
 385812  1350459    HI      US
 386523  1371956    HI      US
 387256  1394989    HI      US
 387549  1404876    HI      US
 389418  1462879    HI      US

 [349 rows x 3 columns],
 'IA':          UserID State Country
 106        2750    IA      US
 111        2888    IA      US
 269        6330    IA      US
 364        8388    IA      US
 527       12153    IA      US
 ...         ...   ...     ...
 388516  1434671    IA      US
 388581  1436972    IA      US
 388711  1440431    IA      US
 388729  1440842    IA      US
 388731  1440938    IA      US

 [2290 rows x 3 columns],
 'ID':          UserID State Country
 94         2481    ID      US
 285        6733    ID      US
 1011      23542    ID      US
 1098      25188    ID      US
 1550      35549    ID      US
 ...         ...   ...     ...
 387692  1409496    ID      US
 388158  1423553    ID      US
 388259  1426847    ID      US
 388756  1441507    ID      US
 389375  1461357    ID      US

 [648 rows x 3 columns],
 'IL':          UserID State Country
 32          769    IL      US
 33          861    IL      US
 55         1526    IL      US
 61         1697    IL      US
 66         1800    IL      US
 ...         ...   ...     ...
 389605  1468666    IL      US
 389607  1468927    IL      US
 389620  1469377    IL      US
 389630  1469842    IL      US
 389657  1470866    IL      US

 [24322 rows x 3 columns],
 'IN':          UserID State Country
 45         1201    IN      US
 72         2011    IN      US
 75         2116    IN      US
 112        2898    IN      US
 139        3582    IN      US
 ...         ...   ...     ...
 389510  1466007    IN      US
 389544  1466897    IN      US
 389550  1467131    IN      US
 389676  1471378    IN      US
 389707  1472089    IN      US

 [13753 rows x 3 columns],
 'KS':          UserID State Country
 198        4688    KS      US
 299        6969    KS      US
 320        7450    KS      US
 493       11535    KS      US
 507       11714    KS      US
 ...         ...   ...     ...
 389198  1455485    KS      US
 389268  1457748    KS      US
 389327  1459621    KS      US
 389403  1462262    KS      US
 389461  1464851    KS      US

 [4906 rows x 3 columns],
 'KY':          UserID State Country
 70         2003    KY      US
 253        5976    KY      US
 289        6827    KY      US
 409        9586    KY      US
 443       10173    KY      US
 ...         ...   ...     ...
 389167  1454200    KY      US
 389507  1465949    KY      US
 389571  1467784    KY      US
 389663  1471018    KY      US
 389683  1471583    KY      US

 [6677 rows x 3 columns],
 'LA':          UserID State Country
 4           123    LA      US
 488       11382    LA      US
 688       16128    LA      US
 931       21432    LA      US
 1004      23300    LA      US
 ...         ...   ...     ...
 388996  1448636    LA      US
 389014  1449308    LA      US
 389026  1449646    LA      US
 389107  1452182    LA      US
 389272  1457877    LA      US

 [4161 rows x 3 columns],
 'MA':          UserID State Country
 127        3186    MA      US
 224        5214    MA      US
 469       10783    MA      US
 485       11278    MA      US
 580       13622    MA      US
 ...         ...   ...     ...
 389062  1450674    MA      US
 389096  1451896    MA      US
 389265  1457708    MA      US
 389591  1468254    MA      US
 389606  1468917    MA      US

 [4311 rows x 3 columns],
 'MD':          UserID State Country
 29          744    MD      US
 47         1206    MD      US
 49         1244    MD      US
 91         2469    MD      US
 96         2549    MD      US
 ...         ...   ...     ...
 389578  1467976    MD      US
 389581  1468010    MD      US
 389645  1470416    MD      US
 389694  1471719    MD      US
 389703  1471997    MD      US

 [11656 rows x 3 columns],
 'ME':          UserID State Country
 512       11808    ME      US
 4280     100131    ME      US
 9004     188775    ME      US
 11722    232521    ME      US
 15114    292221    ME      US
 ...         ...   ...     ...
 364956   667547    ME      US
 365595   688183    ME      US
 372133   902172    ME      US
 376891  1059749    ME      US
 385003  1325215    ME      US

 [150 rows x 3 columns],
 'MI':          UserID State Country
 35          908    MI      US
 114        2958    MI      US
 161        4040    MI      US
 171        4200    MI      US
 206        4773    MI      US
 ...         ...   ...     ...
 389273  1457879    MI      US
 389612  1469062    MI      US
 389674  1471233    MI      US
 389685  1471599    MI      US
 389704  1472042    MI      US

 [12028 rows x 3 columns],
 'MN':          UserID State Country
 56         1541    MN      US
 196        4651    MN      US
 282        6598    MN      US
 283        6643    MN      US
 297        6957    MN      US
 ...         ...   ...     ...
 388661  1439242    MN      US
 389365  1460948    MN      US
 389385  1461824    MN      US
 389579  1467991    MN      US
 389693  1471706    MN      US

 [3727 rows x 3 columns],
 'MO':          UserID State Country
 10          395    MO      US
 110        2865    MO      US
 120        3093    MO      US
 128        3232    MO      US
 176        4274    MO      US
 ...         ...   ...     ...
 389311  1459277    MO      US
 389361  1460812    MO      US
 389477  1465265    MO      US
 389485  1465519    MO      US
 389492  1465701    MO      US

 [7848 rows x 3 columns],
 'MS':          UserID State Country
 254        6004    MS      US
 256        6049    MS      US
 775       18017    MS      US
 1253      28760    MS      US
 1259      28900    MS      US
 ...         ...   ...     ...
 388831  1443474    MS      US
 388832  1443493    MS      US
 388984  1448180    MS      US
 389595  1468441    MS      US
 389609  1469002    MS      US

 [2913 rows x 3 columns],
 'NC':          UserID State Country
 12          415    NC      US
 37          966    NC      US
 58         1610    NC      US
 137        3491    NC      US
 142        3644    NC      US
 ...         ...   ...     ...
 389583  1468023    NC      US
 389588  1468128    NC      US
 389589  1468131    NC      US
 389611  1469050    NC      US
 389702  1471975    NC      US

 [14755 rows x 3 columns],
 'NE':          UserID State Country
 228        5324    NE      US
 240        5692    NE      US
 330        7624    NE      US
 564       13085    NE      US
 595       13942    NE      US
 ...         ...   ...     ...
 388613  1437666    NE      US
 388753  1441496    NE      US
 388785  1442271    NE      US
 389350  1460346    NE      US
 389514  1466057    NE      US

 [594 rows x 3 columns],
 'NH':          UserID State Country
 705       16486    NH      US
 971       22607    NH      US
 2611      61053    NH      US
 3930      91395    NH      US
 4132      96399    NH      US
 ...         ...   ...     ...
 387275  1395545    NH      US
 388648  1438872    NH      US
 388908  1446359    NH      US
 389439  1463951    NH      US
 389556  1467350    NH      US

 [692 rows x 3 columns],
 'NJ':          UserID State Country
 2            80    NJ      US
 25          644    NJ      US
 30          755    NJ      US
 41         1113    NJ      US
 52         1374    NJ      US
 ...         ...   ...     ...
 389631  1469856    NJ      US
 389669  1471140    NJ      US
 389672  1471210    NJ      US
 389681  1471550    NJ      US
 389686  1471622    NJ      US

 [15706 rows x 3 columns],
 'NM':          UserID State Country
 169        4164    NM      US
 896       20820    NM      US
 1075      24872    NM      US
 1405      32515    NM      US
 1414      32663    NM      US
 ...         ...   ...     ...
 386917  1383832    NM      US
 387271  1395471    NM      US
 387504  1403177    NM      US
 387762  1411500    NM      US
 389022  1449514    NM      US

 [859 rows x 3 columns],
 'NV':          UserID State Country
 90         2432    NV      US
 138        3539    NV      US
 158        4019    NV      US
 230        5351    NV      US
 501       11640    NV      US
 ...         ...   ...     ...
 389217  1456427    NV      US
 389224  1456664    NV      US
 389308  1459086    NV      US
 389332  1459759    NV      US
 389689  1471635    NV      US

 [3160 rows x 3 columns],
 'NY':          UserID State Country
 3            98    NY      US
 28          682    NY      US
 50         1355    NY      US
 51         1363    NY      US
 62         1721    NY      US
 ...         ...   ...     ...
 389593  1468323    NY      US
 389600  1468543    NY      US
 389602  1468580    NY      US
 389678  1471396    NY      US
 389705  1472058    NY      US

 [20578 rows x 3 columns],
 'OH':          UserID State Country
 13          437    OH      US
 43         1138    OH      US
 44         1192    OH      US
 48         1226    OH      US
 64         1770    OH      US
 ...         ...   ...     ...
 389540  1466764    OH      US
 389569  1467737    OH      US
 389653  1470637    OH      US
 389671  1471201    OH      US
 389701  1471901    OH      US

 [15498 rows x 3 columns],
 'OK':          UserID State Country
 57         1563    OK      US
 231        5365    OK      US
 871       20142    OK      US
 974       22707    OK      US
 1020      23692    OK      US
 ...         ...   ...     ...
 388553  1435944    OK      US
 388600  1437330    OK      US
 388824  1443388    OK      US
 388878  1445440    OK      US
 389105  1452157    OK      US

 [1481 rows x 3 columns],
 'OR':          UserID State Country
 822       19069    OR      US
 999       23227    OR      US
 1144      26176    OR      US
 1287      29531    OR      US
 1307      30063    OR      US
 ...         ...   ...     ...
 387971  1417894    OR      US
 388248  1426482    OR      US
 388357  1429463    OR      US
 388950  1447324    OR      US
 389617  1469265    OR      US

 [1232 rows x 3 columns],
 'PA':          UserID State Country
 14          483    PA      US
 36          951    PA      US
 38         1006    PA      US
 68         1846    PA      US
 92         2472    PA      US
 ...         ...   ...     ...
 389638  1470247    PA      US
 389668  1471089    PA      US
 389670  1471197    PA      US
 389677  1471379    PA      US
 389680  1471464    PA      US

 [17103 rows x 3 columns],
 'PR':          UserID State Country
 1111      25476    PR      US
 1671      38321    PR      US
 10234    210154    PR      US
 11404    227783    PR      US
 11486    229094    PR      US
 ...         ...   ...     ...
 379396  1143695    PR      US
 383949  1291037    PR      US
 385548  1341820    PR      US
 385904  1353096    PR      US
 386626  1374880    PR      US

 [130 rows x 3 columns],
 'RI':          UserID State Country
 54         1487    RI      US
 599       14115    RI      US
 778       18079    RI      US
 898       20860    RI      US
 928       21391    RI      US
 ...         ...   ...     ...
 387053  1388222    RI      US
 387717  1410218    RI      US
 388016  1419168    RI      US
 388145  1423213    RI      US
 388371  1429982    RI      US

 [720 rows x 3 columns],
 'SC':          UserID State Country
 7           178    SC      US
 15          496    SC      US
 17          524    SC      US
 115        2964    SC      US
 122        3145    SC      US
 ...         ...   ...     ...
 389509  1465990    SC      US
 389565  1467560    SC      US
 389573  1467912    SC      US
 389699  1471877    SC      US
 389700  1471878    SC      US

 [8254 rows x 3 columns],
 'SD':          UserID State Country
 367        8460    SD      US
 2489      58469    SD      US
 4082      95063    SD      US
 4155      97013    SD      US
 7444     160302    SD      US
 ...         ...   ...     ...
 376034  1031303    SD      US
 379831  1156806    SD      US
 380263  1171024    SD      US
 380842  1190120    SD      US
 386167  1360636    SD      US

 [302 rows x 3 columns],
 'TN':          UserID State Country
 18          534    TN      US
 104        2731    TN      US
 203        4740    TN      US
 279        6585    TN      US
 313        7196    TN      US
 ...         ...   ...     ...
 389391  1462001    TN      US
 389450  1464348    TN      US
 389557  1467363    TN      US
 389625  1469616    TN      US
 389691  1471665    TN      US

 [8305 rows x 3 columns],
 'TX':          UserID State Country
 5           131    TX      US
 26          645    TX      US
 46         1204    TX      US
 53         1486    TX      US
 67         1834    TX      US
 ...         ...   ...     ...
 389660  1470919    TX      US
 389679  1471429    TX      US
 389687  1471630    TX      US
 389690  1471656    TX      US
 389698  1471870    TX      US

 [35864 rows x 3 columns],
 'UT':          UserID State Country
 949       21994    UT      US
 1296      29690    UT      US
 1320      30342    UT      US
 1341      30806    UT      US
 2643      61699    UT      US
 ...         ...   ...     ...
 388367  1429789    UT      US
 388384  1430318    UT      US
 388586  1437045    UT      US
 388678  1439677    UT      US
 389648  1470500    UT      US

 [1131 rows x 3 columns],
 'VA':          UserID State Country
 9           344    VA      US
 83         2304    VA      US
 105        2739    VA      US
 113        2914    VA      US
 188        4510    VA      US
 ...         ...   ...     ...
 389500  1465808    VA      US
 389530  1466637    VA      US
 389640  1470340    VA      US
 389650  1470538    VA      US
 389652  1470597    VA      US

 [8994 rows x 3 columns],
 'VT':          UserID State Country
 8           203    VT      US
 986       22911    VT      US
 1990      45929    VT      US
 4169      97355    VT      US
 4755     111566    VT      US
 ...         ...   ...     ...
 371960   896451    VT      US
 378636  1118232    VT      US
 381579  1213700    VT      US
 381745  1219095    VT      US
 387986  1418502    VT      US

 [230 rows x 3 columns],
 'WA':          UserID State Country
 39         1031    WA      US
 148        3772    WA      US
 211        4940    WA      US
 293        6866    WA      US
 294        6884    WA      US
 ...         ...   ...     ...
 389316  1459458    WA      US
 389337  1459928    WA      US
 389394  1462066    WA      US
 389467  1464974    WA      US
 389642  1470376    WA      US

 [3512 rows x 3 columns],
 'WI':          UserID State Country
 439       10089    WI      US
 506       11701    WI      US
 604       14199    WI      US
 641       15164    WI      US
 648       15253    WI      US
 ...         ...   ...     ...
 388957  1447564    WI      US
 388977  1447950    WI      US
 389662  1471000    WI      US
 389667  1471080    WI      US
 389675  1471272    WI      US

 [4396 rows x 3 columns],
 'WV':          UserID State Country
 40         1045    WV      US
 770       17894    WV      US
 1838      42533    WV      US
 2193      51513    WV      US
 3223      75129    WV      US
 ...         ...   ...     ...
 385829  1350988    WV      US
 387625  1407559    WV      US
 387901  1415504    WV      US
 388048  1420198    WV      US
 389278  1458414    WV      US

 [580 rows x 3 columns]}

{'AK':            JobID                                              Title State  \
 580         2092                                   CUSTOMER SERVICE    AK
 1682        6941                                Director of Nursing    AK
 2389        9110        Branch Sales Manager - Non Producing (safe)    AK
 9637       35726        Beneficiary Services Representative (41135)    AK
 9705       36015  Exclusive Insurance Sales Agent-Outside Sales ...    AK
 ...          ...                                                ...   ...
 1088828  1082183  ROUTE DRIVER/STOCKER Must be at least 23 yrs o...    AK
 1088829  1082186  DATABASE DEVELOPER  Cook Inlet Tribal Council ...    AK
 1088830  1082188                          Billing Specialist-Flight    AK
 1090471  1099255                                Registrar / Records    AK
 1091875  1116044               Financial Advisor/ Financial Planner    AK

         Country
 580          US
 1682         US
 2389         US
 9637         US
 9705         US
 ...         ...
 1088828      US
 1088829      US
 1088830      US
 1090471      US
 1091875      US

 [2041 rows x 4 columns],
 'AL':            JobID                                              Title State  \
 300         1073  Physical Therapist /  Out Patient Hospital Set...    AL
 364         1318                  Quality Assurance Support Analyst    AL
 375         1384                    Customer Service Representative    AL
 409         1483                           Technical Writer - RPSTL    AL
 415         1523                            Cost Accounting Manager    AL
 ...          ...                                                ...   ...
 1091729  1114589               Director of Substance Abuse Services    AL
 1091758  1115033                                      OUTSIDE SALES    AL
 1091769  1115069                              INSURANCE SALES AGENT    AL
 1091811  1115536  Financial Advisor - Insurance & Finance/Bankin...    AL
 1091919  1116253                     General and Assistant Managers    AL

         Country
 300          US
 364          US
 375          US
 409          US
 415          US
 ...         ...
 1091729      US
 1091758      US
 1091769      US
 1091811      US
 1091919      US

 [12040 rows x 4 columns],
 'AR':            JobID                                              Title State  \
 225          753                                   Tool & Die Maker    AR
 858         3252                                Training Supervisor    AR
 1518        6119  Regional Controller - Own Accounting for Faste...    AR
 1854        7624                                 Network Analyst II    AR
 2796       11421                                  Operations Expert    AR
 ...          ...                                                ...   ...
 1090684  1101475                        Women's Program Coordinator    AR
 1090711  1101732        Digital Marketing/Graphic Design Specialist    AR
 1091043  1105169                       Warehouse Help/Floor Support    AR
 1091474  1111256  Automotive Technician / Automotive Mechanic / ...    AR
 1091763  1115061                              Insurance Sales Agent    AR

         Country
 225          US
 858          US
 1518         US
 1854         US
 2796         US
 ...         ...
 1090684      US
 1090711      US
 1091043      US
 1091474      US
 1091763      US

 [6186 rows x 4 columns],
 'AZ':            JobID                                              Title State  \
 240          775                              Medical Opportunities    AZ
 381         1392                           Test Engineering Manager    AZ
 410         1495                                Executive Recruiter    AZ
 426         1573     Field Service Engineer-Medical Software System    AZ
 674         2444                                 ANDROID PROGRAMMER    AZ
 ...          ...                                                ...   ...
 1091634  1113941  Automotive Franchise Operator / Business Manag...    AZ
 1091643  1113989                          Client Account Specialist    AZ
 1091757  1115019                              RN / Registered Nurse    AZ
 1091802  1115351                   ICU Registered Nurse (RN) - Days    AZ
 1091808  1115469                                Registered Nurse RN    AZ

         Country
 240          US
 381          US
 410          US
 426          US
 674          US
 ...         ...
 1091634      US
 1091643      US
 1091757      US
 1091802      US
 1091808      US

 [27911 rows x 4 columns],
 'CA':            JobID                                              Title State  \
 10            15                           Administrative Assistant    CA
 351         1289                             Regional Sales Manager    CA
 359         1310                      Account Development Executive    CA
 386         1415                     Manager of Grievance & Appeals    CA
 411         1506  Financial Modeler - Treasury / Banking / Evalu...    CA
 ...          ...                                                ...   ...
 1091868  1116025              Executive Assistant / Project Manager    CA
 1091869  1116027                         Case Management (CM) Nurse    CA
 1091878  1116047                                   District Manager    CA
 1091879  1116048               Financial Advisor/ Financial Planner    CA
 1091880  1116049               Financial Advisor/ Financial Planner    CA

         Country
 10           US
 351          US
 359          US
 386          US
 411          US
 ...         ...
 1091868      US
 1091869      US
 1091878      US
 1091879      US
 1091880      US

 [109630 rows x 4 columns],
 'CO':            JobID                                              Title State  \
 299         1070                   Physical Therapist / Home Health    CO
 361         1313     Associate Intrado Technical Support Specialist    CO
 362         1316                           Associate NOC Technician    CO
 363         1317                              Systems Administrator    CO
 795         2937  Customer Service Representative - Colorado Spr...    CO
 ...          ...                                                ...   ...
 1091506  1111634  Careerbuilder Major Account Executive (Outside...    CO
 1091531  1111907  Legal Service Consultant  Legal Consulting Sa...    CO
 1091588  1113314                  Advanced Storage Support Engineer    CO
 1091694  1114463                         Project Controls Associate    CO
 1091898  1116139  Insurance Agent - Insurance Sales (Finance/Bus...    CO

         Country
 299          US
 361          US
 362          US
 363          US
 795          US
 ...         ...
 1091506      US
 1091531      US
 1091588      US
 1091694      US
 1091898      US

 [21021 rows x 4 columns],
 'CT':            JobID                                              Title State  \
 148          467                            Technical Lead, Officer    CT
 303         1085                                            DENTIST    CT
 304         1086                      DIRECTOR OF PHYSICAL SERVICES    CT
 305         1087                    HIGH SCHOOL ASSISTANT PRINCIPAL    CT
 306         1088                   TEACHERS / LONG -ERM SUBSTITUTES    CT
 ...          ...                                                ...   ...
 1091365  1109447                       Records Management Positions    CT
 1091413  1110164  Automotive Sales / Telemarketing / BDC Represe...    CT
 1091595  1113438                         DESIGNER/DRAFTER (2001840)    CT
 1091851  1115876                                          Developer    CT
 1091863  1116000                      Toyota Service Advisor/Writer    CT

         Country
 148          US
 303          US
 304          US
 305          US
 306          US
 ...         ...
 1091365      US
 1091413      US
 1091595      US
 1091851      US
 1091863      US

 [16775 rows x 4 columns],
 'DC':            JobID                                              Title State  \
 0              1                   Security Engineer/Technical Lead    DC
 472         1729  Dining Room SupervisorDP7796401 Restaurant see...    DC
 942         3425  Macy's Downtown Metro Center, Washington, DC: ...    DC
 1128        3631  Macy's Downtown Metro Center, Washington, DC: ...    DC
 1561        6345                         PeopleSoft Project Manager    DC
 ...          ...                                                ...   ...
 1091438  1110369                            General Eqmt Mechanic D    DC
 1091460  1110803                            Esc/Elevator Journ Tech    DC
 1091461  1110815                       Recruiting Coord Team Lead I    DC
 1091609  1113564                   General Manager / Executive Chef    DC
 1091892  1116067                           Administrative Assistant    DC

         Country
 0            US
 472          US
 942          US
 1128         US
 1561         US
 ...         ...
 1091438      US
 1091460      US
 1091461      US
 1091609      US
 1091892      US

 [7387 rows x 4 columns],
 'DE':            JobID                                              Title State  \
 106          276                                DIRECTOR OF NURSING    DE
 292          953                       Quality Assurance Specialist    DE
 344         1242                                       IT Recruiter    DE
 783         2919   Customer Service Representative - Wilmington, DE    DE
 825         2977                  Sales Representative - Newark, DE    DE
 ...          ...                                                ...   ...
 1090905  1103474                   Sourcing and Logistics Associate    DE
 1091156  1106439  Software Programmer- .Net Developer- Informati...    DE
 1091293  1108526          Mobile Tool Sales / Franchise Distributor    DE
 1091449  1110552                Director of Operations - Healthcare    DE
 1091745  1114882                         Technical Business Analyst    DE

         Country
 106          US
 292          US
 344          US
 783          US
 825          US
 ...         ...
 1090905      US
 1091156      US
 1091293      US
 1091449      US
 1091745      US

 [5153 rows x 4 columns],
 'FL':            JobID                                    Title State Country
 2              7            P/T HUMAN RESOURCES ASSISTANT    FL      US
 3              8                   Route Delivery Drivers    FL      US
 4              9                             Housekeeping    FL      US
 5             10                    SALON/SPA COORDINATOR    FL      US
 6             11                           SUPERINTENDENT    FL      US
 ...          ...                                      ...   ...     ...
 1091845  1115798        Clinical Documentation Specialist    FL      US
 1091848  1115802  Financial Decision Support Data Analyst    FL      US
 1091867  1116014                         INTERNAL AUDITOR    FL      US
 1091882  1116051     Financial Advisor/ Financial Planner    FL      US
 1091885  1116055     Financial Advisor/ Financial Planner    FL      US

 [71024 rows x 4 columns],
 'GA':            JobID                                              Title State  \
 52            61                       Executive Personal Assistant    GA
 404         1476                                      Test Engineer    GA
 417         1535             Maintenance Technician - CNC Machining    GA
 686         2504                            Senior Process Engineer    GA
 690         2526                                       Data Analyst    GA
 ...          ...                                                ...   ...
 1091723  1114554                               Sales Representative    GA
 1091756  1115001  Financial Advisor - Insurance & Finance/Bankin...    GA
 1091773  1115073                              INSURANCE SALES AGENT    GA
 1091841  1115783         Restaurant Maintenance Repair Tech WANTED!    GA
 1091907  1116187                           Assistant  Store Manager    GA

         Country
 52           US
 404          US
 417          US
 686          US
 690          US
 ...         ...
 1091723      US
 1091756      US
 1091773      US
 1091841      US
 1091907      US

 [33453 rows x 4 columns],
 'HI':            JobID                                              Title State  \
 939         3422  Macy's Kukui Grove, Lihue, HI: Retail Visual M...    HI
 970         3453  Macy's Ala Moana, Honolulu, HI: Retail Cosmeti...    HI
 1069        3558  Macy's Waikiki, Honolulu, HI: Retail Housekeep...    HI
 1207        3772  Macy's Kahala, Honolulu, HI: Retail Support As...    HI
 2128        8426                Executive Chef-Chaminade University    HI
 ...          ...                                                ...   ...
 1090139  1096030  Sales Representative / Customer Service / Acco...    HI
 1090171  1096147       Sales / Account Executive / Customer Service    HI
 1091457  1110731  Automotive Service Advisor / Service Writer/ F...    HI
 1091660  1114087                        Quality Initiatives Manager    HI
 1091801  1115319                              RN FULL-TIME MED/SURG    HI

         Country
 939          US
 970          US
 1069         US
 1207         US
 2128         US
 ...         ...
 1090139      US
 1090171      US
 1091457      US
 1091660      US
 1091801      US

 [2476 rows x 4 columns],
 'IA':            JobID                                     Title State Country
 1260        5097                 Substance Abuse Counselor    IA      US
 1376        5469                  Fire Protection Engineer    IA      US
 1403        5513                             Test Engineer    IA      US
 1556        6329                           Sales Assistant    IA      US
 1676        6912                      Plant Engineer - EP*    IA      US
 ...          ...                                       ...   ...     ...
 1091651  1114046             DIRECTOR OF SURGICAL SERVICES    IA      US
 1091794  1115237  Home Health Aid/Direct Care Professional    IA      US
 1091795  1115238  Home Health Aid/Direct Care Professional    IA      US
 1091881  1116050                          District Manager    IA      US
 1091889  1116059                          District Manager    IA      US

 [12260 rows x 4 columns],
 'ID':            JobID                                              Title State  \
 379         1388  Software Engineer - BIOS (Basic Input/Output S...    ID
 1130        3633  Macy's Magic Valley, Twin Falls, ID: Retail Su...    ID
 1229        3889  Macy's Lewiston Center, Lewiston, ID: Retail S...    ID
 2382        9100      Teller - 20 hours per week at Sandpoint store    ID
 2486        9319          Teller - 20 hrs per week in Silver Valley    ID
 ...          ...                                                ...   ...
 1090161  1096133                      Outside Sales Account Manager    ID
 1090296  1097368           Medical Device Sales - Orthopaedics (ID)    ID
 1090496  1099532  Staff Development Coordinator-Full Time- RN Re...    ID
 1091377  1109558  Sales Representative / Automotive Sales / Seni...    ID
 1091577  1113194                                    Sales Executive    ID

         Country
 379          US
 1130         US
 1229         US
 2382         US
 2486         US
 ...         ...
 1090161      US
 1090296      US
 1090496      US
 1091377      US
 1091577      US

 [3200 rows x 4 columns],
 'IL':            JobID                                              Title State  \
 200          728                                           Lecturer    IL
 201          729                                 Operations Manager    IL
 202          730                            Process Lab Coordinator    IL
 203          731                                       Quality Engr    IL
 204          732                                     Tool/Die Maker    IL
 ...          ...                                                ...   ...
 1091857  1115974       Montgomery - Part-time Instore Retail Banker    IL
 1091858  1115975  Rantoul - Part-time Bilingual Instore Retail B...    IL
 1091902  1116182                           Assistant  Store Manager    IL
 1091916  1116222                                       Receptionist    IL
 1091917  1116228                                PRODUCTION DESIGNER    IL

         Country
 200          US
 201          US
 202          US
 203          US
 204          US
 ...         ...
 1091857      US
 1091858      US
 1091902      US
 1091916      US
 1091917      US

 [58743 rows x 4 columns],
 'IN':            JobID                                              Title State  \
 223          751                                 Multiple Positions    IN
 414         1521                                  Controls Engineer    IN
 732         2685          Part-Time Customer Service Representative    IN
 745         2747             Heavy Equipment Operators and Mechanic    IN
 747         2754  Peds Gastroenterlolgy Nurse Practitioner-APN F...    IN
 ...          ...                                                ...   ...
 1091619  1113667                             MAINTENANCE TECHNICIAN    IN
 1091646  1114013                     Senior Network Engineer - VoIP    IN
 1091671  1114202  INSURANCE AGENT: $36k YEAR 1; $48k YEAR 2 - GU...    IN
 1091684  1114366               Hiring Experienced Registered Nurses    IN
 1091772  1115072                              Insurance Sales Agent    IN

         Country
 223          US
 414          US
 732          US
 745          US
 747          US
 ...         ...
 1091619      US
 1091646      US
 1091671      US
 1091684      US
 1091772      US

 [26020 rows x 4 columns],
 'KS':            JobID                                              Title State  \
 393         1434              Plastics Engineer - Injection Molding    KS
 401         1460                 National Sales & Marketing Manager    KS
 1017        3503  Macy's Town Center Plaza, Leawood, KS: Retail ...    KS
 1018        3504  Macy's Town Center Plaza, Leawood, KS: Retail ...    KS
 1108        3604  Macy's Oak Park, Overland Park, KS: Retail Cos...    KS
 ...          ...                                                ...   ...
 1091662  1114098  Insurance Adjuster / Appraiser ***Immediate Op...    KS
 1091734  1114738                           Control Panel Supervisor    KS
 1091805  1115465                          RN Case Manager - Hospice    KS
 1091850  1115820                Medical Business Operations Manager    KS
 1091887  1116057                                   District Manager    KS

         Country
 393          US
 401          US
 1017         US
 1018         US
 1108         US
 ...         ...
 1091662      US
 1091734      US
 1091805      US
 1091850      US
 1091887      US

 [13184 rows x 4 columns],
 'KY':            JobID                                              Title State  \
 360         1311      Client Engineer I - Network Operations Center    KY
 387         1417                   Cloverleaf HL7 Interface Analyst    KY
 388         1418                                     Java Developer    KY
 447         1671     QUALITY MANAGER   Growing and Stable Company!    KY
 759         2825                                Electrical Engineer    KY
 ...          ...                                                ...   ...
 1091771  1115071                              Insurance Sales Agent    KY
 1091812  1115537  Financial Services Manager-Entry Level Insuran...    KY
 1091816  1115550       MANUFACTURING ASSEMBLY/ INSPECTION POSITIONS    KY
 1091817  1115551                                  FORKLIFT OPERATOR    KY
 1091890  1116061               Financial Advisor/ Financial Planner    KY

         Country
 360          US
 387          US
 388          US
 447          US
 759          US
 ...         ...