# Job Dataset Exploration

In [1]:
import pandas as pd
import numpy as np
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
from lenskit.algorithms import user_knn

In [2]:
jobs_data = pd.read_csv("../dataset/splitjobs/jobs.tsv", sep='\t', on_bad_lines='skip') # more than 3 minutes
error_bad_lines=False
jobs_df = jobs_data[["JobID", "Title"]]
jobs_df = jobs_df.rename(columns={"JobID": "item", "Title": "title"})

/var/folders/vt/47mxbcvj5rd7mmyk053h49m00000gn/T/ipykernel_63404/931304402.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs_data = pd.read_csv("../dataset/splitjobs/jobs.tsv", sep='\t', on_bad_lines='skip') # more than 3 minutes

In [3]:
# read the data (about applications)
data = pd.read_csv('../dataset/clean/user_ratings_neg_1000_20_20_1_train.csv', delimiter=',')
data = data.drop(columns=["Unnamed: 0"])

# construct dataframe in format (user, item, rating) via column addition
#df_ui.insert(2, "rating", np.random.rand(df_ui.shape[0],1))  
df_ui = data.rename(columns={"UserID": "user", "JobID": "item", "Rating":"rating"})
display(df_ui.head(10)) # check data being read properly

   user     item  rating
0   554   640492       1
1   554   280275       1
2   554   747584       1
3   554    25820       1
4   554   600058       1
5   554   196603       1
6   554  1113088       1
7   554       40       1
8   554   627377       1
9   554      957       1

In [4]:
# We use the collaborative user algorithm UserUser, that use the nearest neighbors 
user_user = UserUser(10, min_nbrs=3)  # Minimum (3) and maximum (15) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.fit(df_ui)

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.
Numba is using threading layer omp - consider TBB
found 1 potential runtime problems - see https://boi.st/lkpy-perf

In [8]:
user_id = 769

selected_jobs = recsys.recommend(user_id, 100) # generate 10 recommendations for the selected user
# score - doesn't matter cause arbitrary value showing recommendation priority
# sometimes ipynb doesn't reset the variables -> gives stupid errors (solution shove everything into one kernel/ block)

selected_jobs = selected_jobs.join(jobs_df.set_index('item'), on='item')
display(selected_jobs.head(100))

# Show the real applications
#apps_data = pd.read_csv("../dataset/apps.tsv", sep='\t')
#apps_data = apps_data.loc[apps_data['UserID'] == user_id]
#apps_data = apps_data.rename(columns={"JobID": "item"})
#display(apps_data.join(jobs_df.set_index('item'), on='item'))

       item     score                                              title
0    194859  0.861910                           Senior Financial Analyst
1    496169  0.850761                         Payroll / Accounting Clerk
2    300767  0.840896                  Travel - Passenger Service Coord.
3    577407  0.797292                   Medical Administrative Assistant
4    109062  0.793511                                    Inventory Clerk
5     26853  0.716617                          Accounts Receivable Clerk
6     13313  0.706473                                   Office Assistant
7     57140  0.699271                                     Office Manager
8    780063  0.691911                                   Production Clerk
9    811929  0.656062  Logistics/ Technical Coordinator ~ Part Time ~...
10   314425  0.645556                 Food Processing Production Manager
11   638479  0.641875                                          Scheduler
12   237778  0.613718                    Part Time Teller - Chicago Area
13  1113284 -1.013588  Product Manager - Portfolio Management and Mar...
14  1112201 -1.128287                     Sales Representatives for Avon
15  1111872 -1.134124                     Sales Representatives for Avon
16  1112238 -1.144338                     Sales Representatives for Avon
17  1112175 -1.154262  Manager of Business Analysis - Business, Leade...
18  1112218 -1.160711          Independent Sales Representative for Avon
19  1111866 -1.164723                         Avon Sales Representatives
20  1111303 -1.179734     Management - Consulting - Business Development
21  1111618 -1.180077        Careerbuilder Account Executive (B2B Sales)
22  1112183 -1.187742         Senior Internal Auditor - Accounting Audit
23  1111809 -1.187930                                Avon Representative
24  1111721 -1.191130                            Representative for Avon
25  1111865 -1.198583                         Avon Sales Representatives
26  1111873 -1.198583                     Sales Representatives for Avon
27  1111789 -1.206024              AVON Independent Sales Representative
28  1111770 -1.208109                         Avon Sales Representatives
29  1111734 -1.208109                            Representative for Avon
30  1111718 -1.208109                            Representative for Avon
31  1111621 -1.218786  CareerBuilder Major Account Executive (Governm...
32  1111785 -1.220211              AVON Independent Sales Representative
33  1110829 -1.225899           Outside Restoration Sales Representative
34  1111480 -1.226952               Bilingual Call Center Representative
35  1111775 -1.227724                         Avon Sales Representatives
36  1110949 -1.230458  Director of Operations – Designee to Administr...
37  1109951 -1.230458                                 Production Manager
38  1111619 -1.278030  CareerBuilder Major Account Executive (Governm...