In [6]:
## Import packages
import pandas as pd

## Methods
def elimNeg(x):
    """Eliminate neagtives"""
    if x < 0.0:
        return 0.0
    return x

## Do the parameter set_up for groupGeneration
group_size_to_create = 20
group_number = 20

In [7]:
## Get the data and elminate Tine's negative ones
ratings_df = pd.read_csv("../dataset/clean/user_ratings_neg_1000_20_20_1.csv") 
ratings_df= ratings_df.drop(columns=['Unnamed: 0'])
#ratings_df["Rating"] = ratings_df["Rating"].apply(lambda x: elimNeg(x))
ratings_df["Rating"] = ratings_df["Rating"] # don't elminate Tine's -1s
# rename the columns in an appropriate way
ratings_df = ratings_df.rename(columns={"UserID": "user", "JobID": "item", "Rating": "rating"})
display(ratings_df)
display(1334790 in ratings_df["user"])

           user     item  rating
0           554   196603       1
1           554   300053       1
2           554  1078274       1
3           554   146817       1
4           554   654538       1
...         ...      ...     ...
956220  1471233  1069395      -1
956221  1471233  1064781      -1
956222  1471233  1059618      -1
956223  1471233  1059605      -1
956224  1471233  1055743      -1

[956225 rows x 3 columns]

False

In [8]:
import numpy as np

## Start the pivoting
user_matrix = ratings_df.pivot_table(columns='item', index='user', values='rating')
display(user_matrix)

/var/folders/vt/47mxbcvj5rd7mmyk053h49m00000gn/T/ipykernel_17736/2072917333.py:4: PerformanceWarning: The following operation may generate 3332280276 cells in the resulting pandas object.
  user_matrix = ratings_df.pivot_table(columns='item', index='user', values='rating')

item,1,6,10,11,15,18,20,21,22,30,...,1116305,1116306,1116307,1116308,1116309,1116310,1116311,1116312,1116313,1116314
user,,,,,,,,,,,,,,,,,,,,,
554,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
display(user_matrix)

item,1,6,10,11,15,18,20,21,22,30,...,1116305,1116306,1116307,1116308,1116309,1116310,1116311,1116312,1116313,1116314
user,,,,,,,,,,,,,,,,,,,,,
554,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

user_matrix.to_pickle("user_matrix_full_pivot_01.pkl")