In [5]:
from main import createGrpsV2

## Do the parameter set_up for groupGeneration
group_size = 20
group_number = 20
pathToPickle = "../groupGenv2/user_matrix_train_pivot_01.pkl"
pathToUserMatrix = "../dataset/clean/user_ratings_neg_1000_20_20_1_train.csv"
sim_thrh = 0.8
seed = 1234 #5

# Run group generator
groupsGen = createGrpsV2(group_size, group_number, pathToPickle, pathToUserMatrix, sim_thrh, seed)

display(groupsGen)

20

                                                Users
0   [1113642, 888625, 133806, 4359, 868757, 887030...
1   [229121, 164968, 1004401, 889554, 647074, 1408...
2   [210386, 188673, 30515, 1246479, 780428, 14107...
3   [1116995, 420903, 151217, 265805, 1368744, 883...
4   [1449108, 1414822, 1241600, 1117971, 201107, 7...
5   [174612, 224241, 1228831, 164968, 889554, 2466...
6   [1211846, 168926, 849497, 848621, 1223596, 107...
7   [1292860, 867440, 1273998, 717163, 72227, 1464...
8   [515606, 1008445, 1346125, 855790, 953783, 855...
9   [407863, 1344392, 521096, 1099906, 527081, 132...
10  [248290, 1053778, 852271, 895125, 96193, 11833...
11  [739697, 1155511, 236420, 922865, 693492, 7685...
12  [1297540, 406354, 1314559, 1189803, 1037217, 1...
13  [762663, 1110696, 776934, 939244, 906995, 1648...
14  [774245, 20572, 904707, 200943, 897066, 274599...
15  [132136, 1019235, 785084, 124421, 845352, 5287...
16  [549832, 1138049, 1131267, 953443, 594088, 289...
17  [237400, 543538, 1370803, 1373184, 1063277, 33...
18  [178198, 186505, 541768, 426299, 1263414, 1375...
19  [1359293, 1040757, 752462, 784905, 725291, 869...

In [4]:
## Display single group
display(groupsGen["Users"][0])

[549231,
 583914,
 941975,
 294558,
 803135,
 996622,
 28192,
 650948,
 1258807,
 208146,
 191463,
 764382,
 594834,
 763638,
 796853,
 298240,
 421088,
 968947,
 818494,
 652518]