In [1]:
## Import packages
import pandas as pd

## Methods
def elimNeg(x):
    """Eliminate neagtives"""
    if x < 0.0:
        return 0.0
    return x

## Do the parameter set_up for groupGeneration
group_size_to_create = 20
group_number = 20

In [2]:
## Get the data and elminate Tine's negative ones
ratings_df = pd.read_csv("../dataset/clean/user_ratings_neg_1000_20_20_1_train.csv") 
ratings_df= ratings_df.drop(columns=['Unnamed: 0'])
#ratings_df["Rating"] = ratings_df["Rating"].apply(lambda x: elimNeg(x))
ratings_df["Rating"] = ratings_df["Rating"] # don't elminate Tine's -1s
# rename the columns in an appropriate way
ratings_df = ratings_df.rename(columns={"UserID": "user", "JobID": "item", "Rating": "rating"})
display(ratings_df)

           user     item  rating
0           554   640492       1
1           554   280275       1
2           554   747584       1
3           554    25820       1
4           554   600058       1
...         ...      ...     ...
241844  1470416  1103712       1
241845  1470416   338735       1
241846  1470416  1042356       1
241847  1471233  1114014      -1
241848  1471233  1113501      -1

[241849 rows x 3 columns]

In [3]:
import numpy as np

## Start the pivoting
user_matrix = ratings_df.pivot_table(columns='item', index='user', values='rating')
display(user_matrix)

item,15,40,141,142,169,182,196,206,261,407,...,1116302,1116305,1116306,1116307,1116308,1116309,1116310,1116311,1116312,1116313
user,,,,,,,,,,,,,,,,,,,,,
554,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
user_matrix.to_pickle("user_matrix_train_pivot_01.pkl")