In [19]:
## Make relevant imports
import numpy as np
import pandas as pd
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser

In [20]:
## Import relevant python files
from evalMain import groupNDCG

In [21]:
## Train the individual rec.sys.
# get the data
data = pd.read_csv('../dataset/clean/user_ratings_neg_1000_20_20_1.csv', delimiter=',')
data = data.drop(columns=['Unnamed: 0'])

# construct dataframe in format (user, item, rating) via column addition
df_ui = data.rename(columns={"UserID": "user", "JobID": "item", "Rating":"rating"})
# check data being read properly
display(df_ui.head(10))

# train UserUser collaborative filterring
user_user = UserUser(10, min_nbrs=3)  # Minimum (3) and maximum (10) number of neighbors to consider
recsys = Recommender.adapt(user_user)
recsys.fit(df_ui)

   user     item  rating
0   554   196603       1
1   554   300053       1
2   554  1078274       1
3   554   146817       1
4   554   654538       1
5   554   336293       1
6   554   640492       1
7   554   271546       1
8   554   283949       1
9   554  1066757       1

In [26]:
## Read dataframe generated by group aggregation (groupAggregation.ipynb)
df_grpAggr = pd.read_csv('../groupAgg/grpAggr_full.csv', delimiter=',')
df_grpAggr = df_grpAggr.drop(columns=['Unnamed: 0']) # removing useless index column

In [23]:
## Supress warnings
import warnings
warnings.filterwarnings('ignore')

In [27]:
## Compute ndcg for a group
grp_results = pd.DataFrame(columns=["mean","min","max"])

for i, row in df_grpAggr.iterrows():
    # convert strings to list of strings
    strMem = (row["Members"])[1:(len(row["Members"])-1)]
    strRec = (row["Recommendation"])[1:(len(row["Recommendation"])-1)]

    lstMem = strMem.split(", ")
    lstRec = strRec.split(", ")
    # convert lists of strings to int
    lstMem = list(map(int, lstMem))
    lstRec = list(map(int, lstRec))

    # run group ndcg
    g_mean, g_min, g_max = groupNDCG(lstMem, lstRec, recsys) # error inside
    grp_results.loc[len(grp_results.index)] = [g_mean, g_min, g_max] 
    
display(grp_results)
display(df_grpAggr)

        mean       min       max
0   0.099749  0.000000  0.997489
1   0.100000  0.000000  1.000000
2   0.100000  0.000000  1.000000
3   0.097474  0.000000  0.527883
4   0.099874  0.000000  0.998743
5   0.099734  0.000000  0.491260
6   0.100000  0.000000  0.553146
7   0.099894  0.000000  0.998940
8   0.100000  0.000000  1.000000
9   0.098033  0.000000  0.533472
10  0.524217  0.146359  0.878597
11  0.099706  0.000000  0.508227
12  0.912498  0.684352  1.000000
13  0.099472  0.000000  0.994719
14  0.099714  0.000000  0.997140
15  0.100000  0.000000  0.868795
16  0.100000  0.000000  1.000000
17  0.099966  0.000000  0.999657
18  0.098245  0.000000  0.712352
19  0.100000  0.000000  0.786014
20  0.099950  0.000000  0.999502
21  0.097303  0.000000  0.697296
22  0.100000  0.000000  1.000000
23  0.100000  0.000000  1.000000
24  0.299000  0.000000  0.917881
25  0.100000  0.000000  0.553146
26  0.096517  0.000000  0.965166
27  0.099163  0.000000  0.991633
28  0.100000  0.000000  0.360055
29  0.100000  0.000000  0.446854
30  0.100000  0.000000  0.616434
31  0.100000  0.000000  1.000000
32  0.096473  0.000000  0.964733
33  0.097750  0.000000  0.720320
34  0.099477  0.000000  0.547917
35  0.429699  0.300785  0.654809
36  0.100000  0.000000  1.000000
37  0.100000  0.000000  1.000000
38  0.100000  0.000000  0.868795
39  0.100000  0.000000  1.000000
40  0.099877  0.000000  0.998775
41  0.100000  0.000000  1.000000
42  0.099578  0.000000  0.339160
43  0.100000  0.000000  1.000000
44  0.100000  0.000000  1.000000
45  0.099555  0.000000  0.995550
46  0.099965  0.000000  0.999651
47  0.097668  0.000000  0.976679
48  0.099947  0.000000  0.490727
49  0.097305  0.000000  0.642212

,Members,Recommendation
0,"[1165352, 668454, 838185, 1056891, 578645, 950...","[692024, 579894, 27261, 311691, 508864]"
1,"[549231, 583914, 941975, 294558, 803135, 99662...","[853314, 308908, 864097, 901476, 1032156]"
2,"[410122, 277505, 692599, 783536, 1420225, 5545...","[543918, 615880, 228396, 317252, 784650]"
3,"[192178, 850445, 439070, 1340921, 473967, 1327...","[1042869, 282364, 545615, 481315, 260713]"
4,"[988920, 485759, 481324, 1294945, 669787, 1060...","[156859, 263136, 940871, 1047376, 1040817]"
5,"[1360918, 1195068, 791001, 1132744, 1124402, 6...","[338737, 1055575, 184546, 284141, 297510]"
6,"[1249010, 643384, 448742, 187074, 588976, 2720...","[78579, 1040827, 1074185, 44194, 72524]"
7,"[1187753, 440304, 928954, 1082928, 142184, 118...","[451, 929404, 473965, 582118, 307079]"
8,"[172933, 1217103, 1430857, 1074051, 1020507, 1...","[1076994, 208481, 521315, 908559, 867261]"
9,"[1174914, 755837, 1176363, 286772, 478643, 146...","[201609, 980270, 25864, 165696, 195193]"
10,"[1407906, 1411975, 30515, 183303, 1316561, 141...","[138899, 642069, 498614, 334056, 16603]"
11,"[770158, 293849, 854546, 1261541, 263741, 1425...","[815829, 491828, 372642, 42836, 772055]"
12,"[657081, 1364840, 1271542, 90350, 873142, 7591...","[1056115, 631345, 60882, 944799, 327473]"
13,"[72227, 465952, 1419466, 131328, 717163, 14645...","[630608, 278820, 30809, 611376, 332844]"
14,"[705533, 827635, 1061909, 649495, 197786, 1240...","[572443, 578960, 267691, 47351, 540175]"
15,"[697627, 286725, 655200, 106273, 300540, 14548...","[461850, 565336, 798946, 912053, 875819]"
16,"[362020, 646878, 72728, 387956, 391114, 290011...","[11630, 298658, 25945, 462443, 1037019]"
17,"[73397, 1311464, 878216, 1135929, 540836, 9709...","[250578, 1019512, 978179, 523733, 801949]"
18,"[1205501, 1112440, 432683, 982941, 899160, 978...","[874710, 1040679, 1057036, 772914, 314248]"
19,"[316676, 189494, 1188242, 1051382, 1381432, 77...","[577029, 546922, 81202, 734801, 940900]"
20,"[1076557, 705928, 985145, 1302531, 1297860, 81...","[1097745, 1055650, 398122, 262053, 821864]"
21,"[1402138, 1063632, 128497, 3766, 1240573, 2995...","[543186, 442629, 733091, 1055915, 186930]"
22,"[401142, 547570, 273020, 388288, 1433841, 2620...","[211208, 16761, 841784, 854491, 931463]"
23,"[950060, 105315, 578092, 606679, 60909, 828458...","[624560, 169796, 339229, 382287, 542420]"
24,"[245697, 940907, 208628, 321708, 789111, 14119...","[180600, 584291, 403823, 108159, 160195]"
25,"[609072, 698340, 399228, 866621, 1365003, 2645...","[993926, 534543, 638846, 776084, 583169]"
26,"[89348, 263714, 1464259, 123222, 954953, 10905...","[247848, 1045842, 690139, 515335, 462497]"
27,"[766229, 559075, 1257422, 1470014, 1112313, 12...","[812002, 1039376, 706999, 551594, 323667]"
28,"[748577, 584700, 286725, 655200, 145488, 13365...","[134820, 600729, 131542, 1009961, 300148]"
29,"[600403, 1007970, 1400605, 542134, 486127, 101...","[861553, 895775, 821331, 720203, 92298]"
30,"[1207273, 58294, 1229398, 1146121, 285048, 245...","[328200, 347771, 473797, 27679, 334677]"
31,"[788757, 482686, 590532, 1005142, 1300797, 655...","[186681, 17049, 254912, 132751, 611905]"
32,"[548976, 1155849, 536630, 202031, 619258, 7009...","[212272, 636448, 674286, 1053870, 822226]"
33,"[215187, 1053059, 1330917, 1419514, 584169, 12...","[917783, 912002, 492405, 1106085, 802049]"
34,"[1131391, 491999, 176740, 838084, 468858, 8222...","[476004, 352762, 580565, 501635, 970138]"
35,"[500064, 325980, 900482, 172854, 265105, 13637...","[443784, 461516, 840846, 328182, 169601]"
36,"[826151, 52062, 943367, 550353, 1145478, 54556...","[151828, 278764, 479979, 479951, 932184]"
37,"[180369, 1421540, 1404793, 1170058, 1430652, 3...","[2886, 1077682, 644550, 580970, 577603]"
38,"[969511, 1069866, 37784, 1224711, 341963, 1362...","[864813, 452400, 745999, 264657, 53805]"
39,"[655468, 189470, 128182, 724845, 704893, 16277...","[808524, 1007361, 34598, 640722, 555199]"
40,"[260844, 406748, 888911, 963829, 388280, 10599...","[764097, 436415, 247857, 476986, 926546]"
41,"[990554, 1424449, 786580, 1417665, 875669, 803...","[874377, 476428, 516621, 917863, 433260]"
42,"[273505, 324955, 1011889, 689356, 339061, 8152...","[234789, 361733, 392254, 313626, 900380]"
43,"[487664, 1059986, 387478, 622516, 260844, 4067...","[317649, 779831, 244971, 808955, 809481]"
44,"[1011892, 885809, 540388, 92612, 685036, 11598...","[759272, 97861, 762214, 871709, 873136]"
45,"[1221273, 558571, 1286286, 119235, 849497, 866...","[310677, 744241, 546752, 780849, 312786]"
46,"[386671, 1278518, 244546, 819631, 985145, 8947...","[1055650, 1097745, 550750, 330889, 262053]"
47,"[1282796, 670361, 256051, 1246176, 1261541, 13...","[815829, 372642, 613, 215241, 515987]"
48,"[97923, 1360250, 900284, 186505, 454451, 17819...","[867324, 143667, 697510, 685930, 164899]"
49,"[510997, 1340555, 1366393, 677730, 216481, 382...","[743600, 326405, 824778, 180972, 634102]"

In [28]:
print(np.mean(grp_results["mean"]))
print(np.mean(grp_results["min"]))
print(np.mean(grp_results["max"]))

0.13475608561802563
0.022629919001549714
0.8318745603260542